/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 0 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin:  8px 32px 0px;
}

.example-no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
}

/** Selection styles */
.example-selection-header {
  font-size: 18px;
  background: rgba(255, 64, 129, 0.3);
  border-bottom: 1px solid #d696ac;
}

.mat-column-select {
  max-width: 54px;
}

.mat-row:hover, .selected-row {
  background: #eaeaea;
}

.mat-row:active, .mat-row.selected-row {
  background: #cdcdcd;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}
